{% extends "base.html" %}

{% block title %}
admin_dashboard
{% endblock %}

{% block content %}
    <style>
        
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background-color: #007bff; 
            border-radius: 5px;
            border: none;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #0056b3; 
        }

        h1 {
            color: #333; 
            font-size: 24px;
            margin-bottom: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    </style>

    <div class="container">
        <h1>Hi {{ user.username }} </h1>
        <h2> Admin Dashboard</h2>

        <a href="{% url 'signup' %}" class="button">Create User</a><br><br>
        <a href="{% url 'next1' %}" class="button">Live Batches</a><br><br>
        <a href="{% url 'next2' %}" class="button">Plan Batches</a>

    </div>
{% endblock %}
