{% extends "base.html" %}

{% block title %}
Log In
{% endblock %}

{% block content %}
    <style>
        
        h1 {
            color: #333;
            font-size: 28px;
            margin-bottom: 20px;
            text-align: center;
        }

        .alert {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            padding: 15px;
            border-radius: 4px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input {
            width: 25%;
            padding: 10px;
            border: 1px solid #ced4da;
            border-radius: 4px;
        }

        .form-check {
            margin-bottom: 15px;
        }

        .form-check input {
            margin-right: 10px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            display: inline-block;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }
    </style>

    <h1>Log In</h1>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <!-- Display form errors -->
        {% if form.errors %}
            <div class="alert">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        
        <div class="form-check">
            {{ form.remember }}
            {{ form.remember.label_tag }}
        </div>
        
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
{% endblock %}
