<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <style>
        /* Styling for the page */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f2f5;
        }

        h1 {
            text-align: center;
            color: #333;
            margin-top: 50px;
            font-size: 2em;
        }
    </style>
</head>
<body>
    {% block content %}
    <h1>Hi {{ username }}</h1>
    <h1>------Your Page has successfully created------</h1>
    {% endblock %}
</body>
</html>
